<div class="row">

<% @movies.each do |movie| %>
<div class="jumbotron col-md-8 col-md-offset-2">
  <h1><%= movie.title %></h1>
  <p><%= movie.synopsis %></p>
  <p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Discussion</a>
  </p>
</div>
<% end %>

</div>
