
<% if model.errors.any? %>
  <h3>
    <%= pluralize(model.errors.count, "error") %>
    <%= "prohibited this #{model.class.name} from being saved:" %>
  </h3>
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
