
  <h2>Lots of projects</h2>
  <ul>
    <% @projects.each do |project| %>
      <li>
        <a href="/projects/<%= project.id %>">
          <%= project.name %>
        </a>

        <% if project.description.present? %>
          -
          <%= project.description %>
            <% end %>
      </li>
      <% end %>
  </ul>
