<h1><%= @user.name %>'s products</h1>

<ul>
  <% if @user.products.present? %>
    <% @user.products.each do |product| %>
    <li>
      <%= link_to product.title, user_product_path(@user, product) %>

    </li>
    <% end %>
  <% end %>

</ul>

<%= link_to "New product", new_user_product_path(@user) %>
