<h1><%= @user.name %>'s products</h1>

<ul>
  <% if @products.present? %>
    <% @products.each do |product| %>
    <li>
      <%= product.title %>

    </li>
    <% end %>
  <% end %>

</ul>

<%= link_to "New product", new_user_product_path(@user) %>
